<div class="card">
  <div class="header">
    <h1 class="title">Airports</h1>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-lg-3" *ngFor="let airport of airports | async">
        {{airport}}
      </div>
    </div>
  </div>
</div>
